/*Colores
azul: #3498db;
gris: #fafafa;
*/


.menu{ 
	margin-top: 200px;
	margin-left: 100px;
	position: absolute; z-index:1;
 	
 }
.fondo{
	padding-top: 200px;
	background-image: url(img/banner.jpg); position: absolute; z-index: 1; background-color:black; opacity: .5;
 	width: 100%;
 	height: 800px;
 	  }	

.white{
	width: 100px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 50px;
	margin-left: 40px;
}
 
button{
	width: 100px;
	height: 30px;
	background-color: #3498db;
	border-radius: 10px;
	margin-bottom: 50px;
}

nav{
	text-align: center;
}

.seccion2{
	margin-top: 900px;
	position:relative;

}

.pic01{
	width: 250px;
	border-radius: 500px;
	margin-bottom: 100px;
	margin-right: 50px;
	margin-top: 100px;
}
p, h2{margin: 40px;

}

.pic02{
	width: 220px;
	border-radius: 500px;
 	margin-top: 100px;
 }

.seccion3{
	background-color: #3498db;
}

.pic03{
	width: 200px;
	border-radius: 500px;
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 10px;
}

#primero{
	margin-top: -10px;
	margin-left: 350px;
	margin-bottom: 10px;
	}


#ultimo{
	margin-top: -10px;
	margin-left: 90px;
	margin-bottom: 10px;
	}

h1{font-size: 30pt;
	text-align: center;
}

footer{
background-color: #f2f3f5;
margin-top: 50px;
width: 100%;
height: 100px;
}

.redes{
margin-top: 25px;
margin-left: 80px;
font-size:24pt;	
} 

a{
color:#a3a5a6;
}